.main {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px auto 0;
    // width: 95%;

    section {
        opacity: .85;
        position: relative;
        height: 150px;
        width: 150px;
        
        img {
            // width: 100px;
            border-radius: 0;
            object-fit: cover;
            filter: invert(57%) sepia(23%) saturate(538%) hue-rotate(357deg) brightness(90%) contrast(87%);
        }
    }

    div {
        text-align: center;
        // margin: 0 30px;
        align-items: stretch;
        max-width: 500px;

        h1 {
            span {
                color: #9f8763;
            }
        }

        p {
            color: #e1e1e1;
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 1000px) { //tablet
    
}

@media screen and (max-width: 650px) { //phone

    .main {
        flex-direction: column;

        div {

            h1 {
                margin-left: 30px;
                margin-right: 30px;
                max-width: calc(100% - 60px);
                overflow: auto;
            }

            p {
                margin: 0 30px;
            }
        }
    }


}