.main {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px auto 0;
    // width: 95%;

    .imageContainer {
        opacity: .85;
        position: relative;
        height: 500px;
        width: 400px;
        
        img {
            border-radius: 0;
        }
    }

    .textContainer {
        text-align: center;
        // margin: 0 30px;
        align-items: stretch;
        max-width: 500px;

        h1 {
            span {
                color: #9f8763;
            }
        }

        p {
            color: #e1e1e1;
            font-weight: 400;
        }
    }
}