.body {
    display: flex;
    align-items: center;
    background-color: #69696967;
    justify-content: flex-start;
    height: 650px;
    position: relative;
    top: 0px;
    width: 100%;
    z-index: 100;

    .titleContainer {
        margin-left: 100px;
        text-shadow: 1px 1px 4px rgb(0 0 0 / 72%);

        h1 {
            color: white;
            letter-spacing: 1px;
            font-weight: 700;
            font-size: 44px;
            max-width: 100%;
            width: 400px;
        }

        button {
            background-color: rgb(29, 29, 29);
            border: none;
            box-shadow: 1px 1px 5px #0000001f;
            color: white;
            font-weight: 600;
            height: 45px;
            margin-top: 30px;
            user-select: none;
            width: 200px;

            &:hover {
                background-color: rgb(0, 0, 0);
                box-shadow: none;
                cursor: pointer;
            }
        }
    }

}

.mobileImage {
    display: none;
}

.headerContainer {
    background-color: #dad9de;
    position: relative;
    z-index: 100;
}

.main {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 3200px;
    width: 100%;

    .float {
        background-size: 100%;
        box-shadow: 0px 0px 24px black;
        height: 3100px;
        width: 100%;
        max-width: 1400px;
        margin-bottom: 300px;

        .backdrop {
            background-image: url('../../public/bgTrees.jpg');
            background-repeat: no-repeat;
            width: 100%;
            height: 800px;
            bottom: 0px;
            left: 50%;
            background-position-y: 0px;
            top: 0px;
            position: fixed;
            max-width: 1400px;
            transform: translate(-50%, 0);
            z-index: 1;
        }
    }
}

.sectionTwo {
    background-color: #1a1a1a;
    position: absolute;
    top:  800px;
    bottom: 20px;
    max-width: 1400px;
    width: 100%;
    height: 2300px;
    z-index: 1000;
    // margin-bottom: 200px;
}

.sectionDivider {
    margin: 100px auto 0;
    width: 100%;
    filter: invert(57%) sepia(23%) saturate(538%) hue-rotate(357deg) brightness(90%) contrast(87%);
    // filter: invert(1);
}

@media screen and (max-width: 1000px) { //tablet

    .main {

        .float {
            background-color: #cdcdcd;
            margin: 0;
            width: 100%;
            background-position-y: -450px;
        }

    }
    
}

@media screen and (max-width: 650px) { //phone
    .body {
        height: 420px;

        .titleContainer {
            align-self: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 0;
            width: 100%;

            img {
                margin: auto;
            }

            h1 {
                font-size: 34px;
                font-weight: 600;
                width: 100%;
            }

            button {
                margin: auto;
            }
        }

    }

    .main {

        .float {
            background-color: #cdcdcd;
            margin: 0;
            width: 100%;
            height: 100%;

            .backdrop {
                background-position-y: -120px;
                background-position-x: -420px;
            }
        }

    }

    .sectionTwo {
        top: 500px;
        height: 3550px;
    }

    .photoOfMe {
        margin-bottom: 20px;
    }

    .mobileImage {
        display: initial;
    }

    .desktopImage {
        display: none;
    }

}