.main {
    display: flex;
    justify-content: center;
    align-items: center !important;
    height: 100px;
    width: 200px;
    background-color: #dcdbe0;
    border-radius: 8px;
    z-index: 1500;
    position: fixed;
    opacity: .95;
    top: 30vh;
    box-shadow: 1px 1px 6px #858585;
    pointer-events: none;
    left: calc(50vw - 110px);
    
    p {
        display: flex;
        align-items: center;
        color: black !important;
        font-weight: 600 !important;
        font-family: inherit;
    }

    img {
        margin-left: 10px;
    }
}